<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sucsess</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Gugi" rel="stylesheet">
</head>
<body>
    <div class="break"></div>
    <br>
    <div class="container">
        <div class="jumbotron">
            Welcome
            <br>
            You are Registered now You will get a confirmation mail by Sir. Athony Raj if you did not recive mail from us, mail Him <strong>raj.anthony92@gmail.com</strong>
            <br>
            <div class="break"></div>
            <br>
            <a href="/" class="btn btn-primary btn-lg btn-block">Go Back</a>
        </div>
    </div>
</body>
</html>