body{
    padding: 0;
    margin: 0;
}
#title{
    margin-top: 20px;
    font-family: 'Gugi', cursive;
}

.break{
    padding: 20px;
}

.cardimg{
    padding-left: 20%;
    width: 250px;
    height: 300px;
}
.head1{
    font-size: 30px;
    font-weight: bold;
}
.head2{
    padding-left: 5%;
    font-size: 25px;
}
.uls{
    margin-left: 5%;
    font-size: 20px;
}
footer{
    margin-top: 20px;
    background: black;
    padding: 5%;
}
.srolll {
    height: 250px;
    overflow-y: scroll;
}
.break-top{
    margin-top: 3em;
}
.under{
    text-decoration: underline;
}
#bg{
    /* width: 100%; */
    /* background-image: url("https://ak4.picdn.net/shutterstock/videos/6282884/thumb/1.jpg") */
    background-image: url("../images/math-symbol.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#bg-col{
    background: black;
    color: whitesmoke;
    text-decoration: underline;
}
.foot{
    width: 100%;
    background: black;
    text-align: center;
}
.foot a, .foot a:hover{
    color:white;
    text-decoration: none;
}
.foot p{
    margin: 0;
}

.main{
    padding: 20px;
}
#scrll{
    height: 500px;
    overflow-y: scroll;
}
.tr{
    position: fixed;
    top: 30px;
    right: 40px;
}